Django==1.7.1
Scrapy==0.24.4
South==1.0.1
Twisted==14.0.2
Unipath==1.0
cffi==0.8.6
cryptography==0.6.1
cssselect==0.9.1
dj-database-url==0.3.0
dj-static==0.0.6
django-extensions==1.4.4
django-toolbelt==0.0.1
djangorestframework==2.4.3
gunicorn==19.1.1
lxml==3.4.0
psycopg2==2.5.4
pyOpenSSL==0.14
pycparser==2.10
queuelib==1.2.2
six==1.8.0
static3==0.5.1
w3lib==1.10.0
wsgiref==0.1.2
zope.interface==4.1.1
